#content{
    position: relative;
    top: -6px;
    width: 101.1%;
}
#vsql-login{
    font-size: 13px;
    color: rgba(0.0,0.0,0.0,0.7);
    position: relative;
    left: -7.8px;
    min-width: 147px;
    width: 11%;
    justify-content: left;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0.0,0.0,0.0,0.1);
    border-right: 1px solid rgba(0.0,0.0,0.0,0.1);
}

#cred-label{
    color: rgba(0.0,0.0,0.0,0.5);
    font-size: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
}
#vsql-login:hover{
    box-shadow: 0px 3px 10px 2px rgba(0.0,0.0,0.0,0.2);
}
#log:hover{
    font-weight: 600;
    color: rgba(0.0,0.0,0.0,0.9)
}
#pass:hover{
    font-weight: 600;
    color: rgba(0.0,0.0,0.0,0.9)
}

#failed{
    font-size: 16px;
    color: red;
    position: relative;
    display: flex;
    justify-content: center;
    top: -60px;
}