#content{
    position: relative;
    top: -6px;
    width: 100%;
}
#pass{
    position: relative;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid rgba(0.0,0.0,0.0,0.0);

}
#cred-label{
    color: rgba(0.0,0.0,0.0,0.5);
    font-size: 15px;
    position: relative;
    display: flex;
    top:12px;
    justify-content: center;
    padding-top: 4px;
    border-top: 1px solid #4994eb;
}
#log, #user{
    position: relative;
    font-size: 14px;
    top: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid rgba(0.0,0.0,0.0,0.0);
    border-bottom: 1px solid rgba(0.0,0.0,0.0,0.1);
}
#log{
    background-color:rgba(0.0,0.0,0.0,0.0);
    color: #4994eb;
}
#user{
    top: 20px;
}
#submit{
    background-color: #ffffff;
    font-size: 15px;
    color: #4994eb;
    position: relative;
    display: flex;
    justify-content: center;
    top: 25px;
    width: 100%;
    height: 27px;
    border: 0px solid rgba(0.0,0.0,0.0,0.1);
    border-radius:0px 0px 10px 10px;
    box-sizing: border-box;
}
#pass:hover{
    color: rgba(0.0,0.0,0.0,0.9);
}
#submit:hover{
    color: #005dc9;
    border-bottom: 1px solid #4994eb;
}
#submit:active{
    color: white;
    background-color: #005dc9;
}

#cred-label-2{
    color: rgba(0.0,0.0,0.0,0.5);
    font-size: 15px;
    position: relative;
    display: flex;
    top:49px;
    justify-content: center;
    padding-top: 4px;
    border-top: 1px solid #4994eb;
}
#log-2, #user-2, #pass-3{
    position: relative;
    font-size: 14px;
    top: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid rgba(0.0,0.0,0.0,0.0);
    border-bottom: 1px solid rgba(0.0,0.0,0.0,0.1);
}
#log-2{
    background-color:rgba(0.0,0.0,0.0,0.0);
    color: #4994eb;
}
#user-2{
    top: 50px;
}
#pass-3{
    top: 55px;
}
#submit-2{
    background-color: #ffffff;
    font-size: 15px;
    color: #4994eb;
    position: relative;
    display: flex;
    justify-content: center;
    top: 60px;
    width: 100%;
    height: 27px;
    border: 0px solid rgba(0.0,0.0,0.0,0.1);
    border-radius:0px 0px 10px 10px;
    box-sizing: border-box;
}
#pass-2:hover, #pass-3:hover{
    color: rgba(0.0,0.0,0.0,0.9);
}
#submit-2:hover{
    color: #005dc9;
    border-bottom: 1px solid #4994eb;
}
#submit-2:active{
    color: white;
    background-color: #005dc9;
}
#response{
    font-size: 14px;
    color: #4994eb;
    position: relative;
    display: flex;
    justify-content: left;
    top: 75px;
}