.content{
    position: relative;
    left: -7.8px;
    width: 101.75%;
    min-width: 900px;
}
.content > ul{
    font-size: 13px;
    color: rgba(0.0,0.0,0.0,0.6);
    position: relative;
    left: -38px;
    top: -12px;
    min-height: 100px;
    height: auto !important;
    border-bottom: 1px solid rgba(0.0,0.0,0.0,0.1);
}
#sec-1:hover p{
    color: #4994eb;
}
#sec-2:hover p{
    color: #4994eb;
}