html{
    background: #ffffff;
    overflow: auto;
    color: #303031;
}
body{
    font-family: 'Roboto', serif;
}
#top{
    color: transparent;
    background-color: #4994eb;
    display: flex;
    position: relative;
    justify-content: center;
    Width: 101.75%;
    height: 5px;
    left: -7.8px;
    top: -9px;
}
#credentials{
    display: flex;
    position: relative;
    justify-content: center;
}
form{
    min-width: 400px;
    width: 50%;
    display: inline-block;
    position: relative;
    margin: 15%;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 25px;
    box-shadow: 0px 3px 10px 2px rgba(0.0,0.0,0.0,0.2);
    border-top: 2px solid #4994eb;
    border-radius:20px 20px 20px 20px ;
}
#homelink{
    letter-spacing: 3px;
    text-decoration: none;
    color: #303031;
    font-weight: 300;
    font-size: 34px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    width: 50%;
    border-radius: 0 0 10px 10px;
    border-bottom: 2px solid rgba(0.0,0.0,0.0,0.2);
}
.title a:visited{
    text-decoration: none;
    color: #303031;
}
a#homelink:hover{
    border-bottom:2px solid #4994eb;
}
#failed-text{
    position: relative;
    color: red;
    font-size: 12px;
    margin: 25%;
}
#loginlabel{
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: lighter;
    position: relative;
    left: 2px;
    margin: 25%;
}
#passwordlabel{
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: lighter;
    position: relative;
    left: 2px;
    margin: 25%;
    top: -10px;
}

#loginid, #password{
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 1px;
    position: relative;
    min-width: 200px;
    width: 50%;
    margin-left: 25%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0.0,0.0,0.0,0.1);
}
#password{
    top: -10px;
}
#submit{
    cursor: pointer;
    background: #4994eb;
    font-size: 16px;
    font-weight: 300;
    color: white;
    letter-spacing: 1px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    top: -10px;
    margin-left: 25%;
    border: 2px solid #4994eb;
    box-sizing: border-box;
    border-radius:0 0 10px 10px;
}
#submit:active{
    background: #005dc9;
    border: 2px solid #005dc9;
    color: #ffffff;
}
#loginid:focus,#password:focus{
    border-bottom: 1px solid #005dc9;
}